html {
  box-sizing: border-box;
}

*, :before, :after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100vh;
  table-layout: fixed;
}

.footer {
  display: table-footer-group;
  height: 1%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center, .owl-carousel_h1, .owl-carousel_text, .owl-carousel .owl-dots, .owl-carousel-review .owl-dots {
  text-align: center;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.inverse, .owl-carousel_text {
  color: white !important;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.margin-lr100 {
  margin: 0 100px 0 100px;
}

.margin-b50 {
  margin-bottom: 50px;
}

.list {
  text-indent: -10px;
  margin-left: 10px;
}

.h1-main {
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.h2-main {
  opacity: 0.75;
  color: black;
  font-family: 'Playfair Display', serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.h2-main:after {
  content: " ";
  display: block;
  margin: 15px auto;
  width: 50px;
  height: 2px;
  background: black;
  opacity: 0.75;
}

.h3-main {
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 900;
}

.text-main, .owl-carousel_text, .text-footer, .h1-footer, .copyright, .menu-item_footer a {
  opacity: 0.75;
  color: black;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}

.text-name-title {
  color: white;
  font-family: Roboto;
  font-size: 14px;
  line-height: 2;
  font-weight: 900;
  text-align: center;
  margin-top: 20px;
}

.text-name-position {
  opacity: 0.7;
  color: #fafafa;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 20px;
}

.owl-carousel_h1 {
  color: white;
  font-family: 'Playfair Display';
  font-size: 32px;
  font-weight: 900;
}

.owl-carousel_h1:after {
  content: " ";
  display: block;
  margin: 30px auto;
  width: 50px;
  height: 2px;
  background: #00e0d0;
  opacity: 0.75;
}

.owl-carousel_text {
  margin: 30px 0 50px;
}

.video-wrap {
  width: 160px;
  height: 150px;
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}

.video-wrap a:hover {
  opacity: 0.5;
}

.text-video {
  color: white;
  text-transform: uppercase;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 900;
}

.text-footer, .h1-footer, .copyright, .menu-item_footer a {
  color: white;
  margin-bottom: 10px;
}

.h1-footer {
  font-size: 15px;
  font-weight: 900;
  line-height: 26px;
  text-transform: uppercase;
  opacity: 1;
  margin-bottom: 30px;
}

.review-text {
  opacity: 0.85;
  color: white;
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.copyright {
  line-height: 3;
}

button {
  cursor: pointer;
}

.button-main {
  color: #00e0d0;
  border: solid 1px #00e0d0;
  background: transparent;
  padding: 15px;
  font-size: 16px;
  border-radius: 2px;
  font-family: 'Hammersmith One', sans-serif;
  text-transform: uppercase;
}

.button-main:hover {
  background: #00e0d0;
  color: white;
}

.button-footer-logo {
  color: #00e0d0;
  border: none;
  background: rgba(255, 255, 255, 0.5) url(../images/paper-plane.png) center no-repeat;
  padding: 10px;
  font-size: 10px;
  width: 70px;
  height: 45px;
  margin-left: 5px;
  display: table-cell;
}

.button-footer-logo:hover {
  background: #00e0d0 url(../images/paper-plane.png) center no-repeat;
}

.form-main_input, .form-main_textarea {
  color: #413d4b;
  border: 1px solid #413d4b;
  background: white;
  padding: 20px;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 300;
  width: 100%;
  margin-bottom: 20px;
  opacity: 0.5;
}

.input-footer {
  width: 200px;
  height: 45px;
  padding: 10px;
  border: 1px solid white;
  background: transparent;
  color: white;
}

.input-footer::-webkit-input-placeholder {
  color: white;
}

.input-footer::-moz-placeholder {
  color: white;
}

/* Firefox 19+ */
.input-footer:-moz-placeholder {
  color: white;
}

/* Firefox 18- */
.input-footer:-ms-input-placeholder {
  color: white;
}

.container {
  width: 970px;
  min-width: 450px;
  padding: 10px;
  margin: 0 auto;
}

.section {
  padding: 35px;
}

.section-highlight {
  background-size: 100%;
  background-image: linear-gradient(to right, #09052f 0%, #311d5e 100%);
  opacity: 0.8;
}

.section-picture-main {
  background: url("../images/main-section.png") no-repeat;
  background-size: cover;
}

.section-picture-video {
  height: 550px;
  background: url("../images/image-for-video.png") no-repeat;
  background-size: cover;
  z-index: -1 !important;
}

.section-picture-team {
  background: url("../images/image-for-team.png") no-repeat;
  background-size: cover;
}

.section-picture-review {
  background: url("../images/image-for-review.png") no-repeat;
  background-size: cover;
}

.section-picture-footer {
  background: url("../images/image-footer.png") no-repeat;
  background-size: 100%;
}

.section550 {
  width: 100%;
  height: 550px;
  display: table;
}

.logo {
  background: transparent url("../images/logo.png") left top no-repeat;
}

.logo-large {
  width: 128px;
  height: 50px;
  margin-bottom: 20px;
}

.menu {
  padding: 10px;
}

.menu_item {
  display: inline-block;
  padding-left: 25px;
  cursor: pointer;
}

.menu_item a {
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
}

.menu_item:hover > a {
  cursor: pointer;
  color: #00e0d0;
}

.menu_item-is-active a {
  color: #00e0d0;
}

.owl-carousel {
  text-align: center;
  margin-top: 150px;
}

.owl-carousel .owl-nav {
  display: none;
}

.owl-carousel .owl-dots {
  display: inline-block;
  margin: 120px 0 35px;
}

.owl-carousel .owl-dots .active {
  background: #00e0d0;
  border: 1px solid #00e0d0;
}

.owl-carousel .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid white;
  float: left;
  margin-right: 5px;
}

.owl-carousel .owl-dot:hover {
  background: #00e0d0;
  border: 1px solid #00e0d0;
}

.owl-carousel-review {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.owl-carousel-review .owl-nav {
  display: block;
}

.owl-carousel-review .owl-prev, .owl-carousel-review .owl-next {
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  left: 250px;
  background: url(../images/arrow-left.png) no-repeat;
}

.owl-carousel-review .owl-next {
  left: 600px;
  background: url(../images/arrow-right.png) no-repeat;
}

.owl-carousel-review .owl-dots {
  display: inline-block;
  margin-top: 30px;
}

.owl-carousel-review .owl-dots .active {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

.owl-carousel-review .owl-dot {
  cursor: pointer;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid white;
  float: left;
  margin-right: 5px;
}

.owl-carousel-review .owl-dot:first-child {
  background-color: #fff;
}

.owl-carousel-review .owl-dot:hover {
  background: #00e0d0;
  border: 1px solid #00e0d0;
}

.boxes-wrap {
  text-align: justify;
}

.boxes-wrap:after {
  width: 100%;
  height: 0px;
  content: '';
  display: inline-block;
}

.boxes-wrap-all-width {
  height: 400px;
  overflow: hidden;
}

.box-3 {
  padding: 30px;
  width: 32%;
  float: left;
  margin: -1px -1px 0 0;
}

.box-4 {
  display: inline-block;
  width: 23%;
  vertical-align: top;
  border: 1px solid rgba(225, 225, 225, 0.5);
}

.box-4 .image-wrap {
  height: 230px;
}

.box-6 {
  width: 16.6%;
  min-width: 267px;
  height: 200px;
  float: left;
}

.box-2 {
  width: 45%;
}

.box-expertise {
  border: 1px solid #f0f0f0;
  height: 260px;
}

.link-block {
  line-height: 3;
  color: black;
}

.link-block:hover {
  color: #00e0d0;
}

.adver:hover > div {
  opacity: 0.8;
}

.footer .box-3 {
  padding: 10px;
}

.menu-item_footer {
  float: left;
  margin-right: 30px;
}

.menu-item_footer a {
  text-transform: uppercase;
  font-size: 14px;
}

.menu-item_footer a:hover {
  color: #00e0d0;
}

.fa-phone {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg);
}

.soc {
  margin-top: 30px;
}

.soc-icon {
  display: inline-block;
  margin-left: 5px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  border: solid 1px white;
  color: white;
  line-height: 36px;
  text-align: center;
}

.soc-icon:hover {
  background: #00e0d0;
  border-color: #00e0d0;
}

/*# sourceMappingURL=all.css.map */