button {
	cursor: pointer;
}
.button-main {
	@include button($color-main, solid 1px $color-main, transparent, 15px, 16px);
	border-radius: 2px;
	font-family: 'Hammersmith One', sans-serif;
	text-transform: uppercase;
	&:hover {
		background: $color-main;
		color: white;
	}
}
.button-footer-logo {
	@include button($color-main, none, rgba(255,255,255,0.5) url(../images/paper-plane.png) center no-repeat, 10px, 10px);
	width: 70px;
	height: 45px;
	margin-left: 5px;
	display: table-cell;
	&:hover {
		background: $color-main url(../images/paper-plane.png) center no-repeat;
	}
}